{% load staticfiles %}
<html>
        <head>
            <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
            <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
            <link rel="stylesheet" href="{% static 'css/camera.css' %}">
            <link rel="stylesheet" href="{% static 'css/font-awesome.css' %}">
            <link rel="stylesheet" href="{% static 'css/form.css' %}">
            <link rel="stylesheet" href="{% static 'css/ie.css' %}">
            <link rel="stylesheet" href="{% static 'css/owl.carousel.css' %}">
            <link rel="stylesheet" href="{% static 'css/reset.css' %}">
            <link rel="stylesheet" href="{% static 'css/skeleton.css' %}">
            <link rel="stylesheet" href="{% static 'css/style.css' %}">
            <link rel="stylesheet" href="{% static 'css/superfish.css' %}">
            <meta charset="utf-8">
            <meta name="format-detection" content="telephone=no" />
            <link rel="stylesheet" href="{% static 'booking/css/booking.css' %}">
            <script src="{% static 'js/jquery.js' %}"></script>
            <script src="{% static 'js/jquery-migrate-1.2.1.js' %}"></script>
            <script src="{% static 'js/script.js' %}"></script>
            <script src="{% static 'js/superfish.js' %}"></script>
            <script src="{% static 'js/jquery.ui.totop.js' %}"></script>
            <script src="{% static 'js/jquery.equalheights.js' %}"></script>
            <script src="{% static 'js/jquery.mobilemenu.js' %}"></script>
            <script src="{% static 'js/jquery.easing.1.3.js' %}"></script>
            <script src="{% static 'js/owl.carousel.js'%}"></script>
            <script src="{% static 'js/camera.js'%}"></script>
            <script src="{% static 'js/jquery.mobile.customized.min.js' %}"></script>
            <script src="{% static 'booking/js/booking.js' %}"></script>
            <script src="{% static 'booking/js/jquery-ui-1.10.3.custom.min.js' %}"></script>
            <script src="{% static 'booking/js//jquery.fancyform.js' %}"></script>
            <script src="{% static 'booking/js/jquery.placeholder.js' %}"></script>
            <script src="{% static 'booking/js/regula.js' %}"></script>
                <meta name="format-detection" content="telephone=no" />
        <link rel="icon" href="images/favicon.ico">
        <link rel="shortcut icon" href="images/favicon.ico" />
        <link rel="stylesheet" href="css/style.css">
        <script>
            $(document).ready(function(){
            jQuery('#camera_wrap').camera({
                loader: false,
                pagination: false ,
                minHeight: '444',
                thumbnails: false,
                height: '48.375%',
                caption: true,
                navigation: true,
                fx: 'mosaic'
            });
            /*carousel*/
            var owl=$("#owl");
                owl.owlCarousel({
                items : 2, //10 items above 1000px browser width
                itemsDesktop : [995,2], //5 items between 1000px and 901px
                itemsDesktopSmall : [767, 2], // betweem 900px and 601px
                itemsTablet: [700, 2], //2 items between 600 and 0
                itemsMobile : [479, 1], // itemsMobile disabled - inherit from itemsTablet option
                navigation : true,
                pagination : false
                });
            $().UItoTop({ easingType: 'easeOutQuart' });
            });
            </script>
            <script>
        $(document).ready(function(){
            $().UItoTop({ easingType: 'easeOutQuart' });
        });
        </script>

            <title>Fivelazy</title>
        </head>
        <body>

                <div class="grid_12">
                            <div class="menu_block">
                                <nav class="horizontal-nav full-width horizontalNav-notprocessed">
                                    <ul class="sf-menu">
                                        <li class="current"><a href="inicio/">Inicio</a></li>
                                        <li><a href="{% url 'url.vuelos' %}">Vuelos</a></li>
                                        <li><a href="{% url 'views.lista_hoteles' %}">Hoteles</a></li>
                                        <li><a href="{% url 'views.lista_excursiones' %}">Excursiones</a></li>
                                        <li><a href="{% url 'views.lista_paquetes' %}">Paquetes</a></li>

                                    </ul>
                                </nav>
                            <div class="clear"></div>
                        </div>


            <div class="content container">
                <div class="row">
                    <div class="col-md-8">
                        {% block content %}
                        {% endblock %}
                    </div>
                </div>
            </div>

            <footer>
            <div class="container_12 ">
                <div class="grid_12">
                    <div class="socials">
                        <a href="https://www.facebook.com/"  class="fa fa-facebook"></a>
                        <a href="https://twitter.com/" class="fa fa-twitter"></a>
                        <a href="https://accounts.google.com/ServiceLogin/signinchooser?service=mail&passive=true&rm=false&continue=https%3A%2F%2Fmail.google.com%2Fmail%2F%3Ftab%3Dwm&scc=1&ltmpl=default&ltmplcache=2&emr=1&osid=1&flowName=GlifWebSignIn&flowEntry=ServiceLogin" class="fa fa-google-plus"></a>
                    </div>
                </div>
            </div>
        </footer>
    <script>
            $(function (){
                $('#bookingForm').bookingForm({
                    ownerEmail: '#'
                });
            })
            $(function() {
                $('#bookingForm input, #bookingForm textarea').placeholder();
            });
        </script>

        </body>
    </html>