{% extends 'base.html' %}
    {% block content %}
        {% for hotel in hoteles %}
            <div class="hotel">
                <div class="content"><div class="ic">Fivelazy</div>
                    <div class="container_12">
                        <div class="block2">
                            <div class="title"> {{ hotel.nombre }}</div>
                            <h1><a href="#" >{{ hotel.lugar }}</a></h1>
                            <p>Precio: ${{ hotel.precio}} </p>
                            <img src="{{hotel.imagen.url}}" class="img_inner fleft" style="width:200px;height: 200px;">
                            <a href="{% url 'views.comprar'  %}" class="link1">Comprar Ahora</a>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    {% endblock content %}